.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.home-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: gold;
}

.card {
  position: relative;
  width: 80vw;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  height: auto;
  margin-bottom: 5rem;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  background-image: url('../../assets/food.jpg');
  background-size: 80rem;
  background-position: center;
  margin-right: 0rem;
  opacity: 0.5;
  z-index: 0;
}

.card-content {
  position: relative;
  z-index: 1;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.card-actions {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.search-bar {
  padding: 1rem;
  border: none;
  margin: 0.5rem;
  border-radius: 1.5rem;
  border-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.search-bar.active {
  border-color: rgb(232, 234, 235);
}

.order-button {
  padding: 0.8rem 2.7rem;
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: rgb(2, 2, 171);
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
  .home-title {
    font-size: 2rem;
  }

  .card {
    width: 85vw;
    padding: 15px;
    height: auto;
  }

  .card-background {
    object-fit: contain;
    background-position: center;
  }

  .card-content {
    font-size: large;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  .search-bar {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: -0.4rem;
  }

  .order-button {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: -0.4rem;
    margin-top: 0.5rem;
  }

  .card-actions {
    flex-direction: column;
    gap: 5px;
  }
}